###########
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

###########
vendor/
Gemfile.lock

###########
.env

###########
.obsidian/

###########
_posts/

###########
.DS_Store
Thumbs.db
*.swp
*.swo
*.sublime-workspace
*.sublime-project
