<div class="about-section">
   <!-- Ticket 1 -->
  <div class="about-card">
    <div class="about-logo">
      <img src="/assets/img/icon/Suzunao.png" alt="Suzunao">
    </div>
    <h1 class="about-name">Suzunao</h1>
    <p class="about-desc">
      Estudiante de Ciberseguridad.
    </p>
    <div class="about-socials">
        <a href="https://github.com/suzunao" target="_blank">[ GitHub ]</a>
        <a href="https://www.linkedin.com/in/erick-quiroz-492189347/" target="_blank">[ LinkedIn ]</a>
        <a href="https://x.com/llSuzunaoll" target="_blank">[ Twitter ]</a>
        <a href="https://tryhackme.com/p/suzunao" target="_blank">[ TryHackMe ]</a>
        <a href="https://app.hackthebox.com/users/1548247" target="_blank">[ HackTheBox ]</a>
    </div>
  </div>
  <!-- Advertencia -->
  <div class="about-warning">
    ⚠  WARNING: Este sitio funciona como un espacio para documentar mi proceso de aprendizaje,  
      compartir notas y experimentos de Ciberseguridad.
  </div>
</div>


<footer style="text-align:center; margin-top:2rem; font-size:0.85rem; color:#c0c0c0;">
  &copy; 2025 Suzunao | All Rights Reserved
</footer>