/* buscador */
.search-container {
  max-width: 350px;
  margin: 1rem auto;
  position: relative;
}

/* Input de búsqueda */
#search-input {
  width: 100%;
  background-color: rgba(20, 20, 20, 0.85); 
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
  padding: 0.35rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#search-input:focus {
  outline: none;
  border-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

/* Contenedor de resultados */
.search-results {
  display: none;
  margin-top: 0.25rem;
  max-height: 30vh;
  overflow-y: auto;
  font-size: 0.85rem;
  line-height: 1.3rem;
  color: #c0c0c0;
  background: rgba(20, 20, 20, 0.85); 
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

/* resultado */
.search-result {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.search-result:hover {
  background: rgba(30, 30, 30, 0.9);
  box-shadow: 0 0 6px rgba(0, 255, 0, 0.08); 
}

/* Enlaces */
.search-result a {
  text-decoration: none;
  color: #c0c0c0;
  display: block;
}

.search-result a strong {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

/* Tags  */
.search-result .tags span {
  margin-right: 0.3rem;
  color: #8ef0c0;
  font-size: 0.8rem;
}

/* Scroll*/
.search-results::-webkit-scrollbar {
  width: 6px;
}
.search-results::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}
