---
---
@import "base";
@import "home";
@import "posts";
@import "search";
@import "about";

@media (min-width: 1200px) {
  .terminal-window {
    max-width: 1200px; 
    width: 80%;          
  }
}

@media (min-width: 1600px) {
  .terminal-window {
    max-width: 1400px;
    width: 60%;
  }
}