---
layout: default
---
<div class="terminal-content" id="terminalContent"></div>

<!-- Contenedor oculto  -->
<div id="postDate" data-date="{{ page.date | date: "%Y-%m-%d" }}" style="display:none;"></div>
<div id="postTitle" data-title="{{ page.title }}" style="display:none;"></div>

<!-- Contenido del post -->
<article class="single-post" id="postContent" style="display:none;">
  <div class="post-card"
      style="--bg-image: url('{{ page.background | default: "/assets/img/icon/wall.jpg" | relative_url }}');">
    <h1>{{ page.title }}</h1>
    <div class="post-card-header">
      <img class="author-avatar" src="{{ page.author.avatar | relative_url }}" alt="{{ page.author.name }}">
      <div class="author-info">
        <span class="author-name">{{ page.author.name }}</span>
        <span class="post-date">{{ page.date | date: "%Y-%m-%d" }}</span>
      </div>
    </div>
    <div class="post-tags">
      {% for tag in page.tags %}
        <a class="tag-pill">#{{ tag }}</a>{% unless forloop.last %} {% endunless %}
      {% endfor %}
    </div>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</article>

<script src="{{ '/assets/js/posts.js' | relative_url }}" defer></script>
