body, html, #app {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
}

.content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
}

h1 {
    color: #333;
    font-size: 4rem;
    margin: 10px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}


.butterfly {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 5;
    pointer-events: none;
    background-image: url('https://assets.codepen.io/33787/butterflies.png');
    background-size: 128px 32px;
    background-repeat: no-repeat;
    will-change: left, top, transform;
    
    animation: wingFlap 0.4s infinite alternate ease-in-out;
}

.fade-in {
    opacity: 0;
    animation: fadeInText 2s forwards;
    animation-delay: 3s; 
}

.delay {
    animation-delay: 4.5s; 
}

@keyframes fadeInText {
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

@keyframes wingFlap {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0.3); } 
}